.filter-grey{
    -webkit-filter: grayscale(100%);
    filter: grayscale(10%) brightness(70%) contrast(0.5); 
}
.background-static{
    background: url('../img/collection.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: top center;
    min-height: 300px;
    display: table;
    position: relative;
    
}
.background-static .row {
    margin-top: 20%;
    
}
.section-examples .card{
    background: #2c2c2c;
    color: #FFF;
}
.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
    color: #f96332;
}
.awesomplete{
    margin: 0px;
    margin: 30px 0px;
    padding: 0px;
    width: 100%;
}
.table {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.dropdown{
    margin: 20px 0px;
}

