{% extends 'base.html' %} {% block content %}
<div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
        <div class="page-header-image" data-parallax="true" style="background-image: url('static/img/classic.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <!-- <div class="photo-container">
                    <img src="static/img/ryan.jpg" alt="">
                </div>
                <h3 class="title">Ryan Scheinder</h3>
                <p class="category">Photographer</p>
                <div class="content">
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>26</h2>
                        <p>Comments</p>
                    </div>
                    <div class="social-description">
                        <h2>48</h2>
                        <p>Bookmarks</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <!-- <div class="button-container">
                <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
            </div> -->
            <h3 class="title">Catalog of Songs</h3>
            <h5 class="description">Find the song of your taste from a collection of more than 600 top hits.</h5>
            <div class="container">
                <div class="row">
                    {% for elem in elements%}
                    <div class="col-sm-6">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="checkbox">
                                        <input id="checkbox-{{elem.name}}" type="checkbox">
                                        <label for="checkbox-{{elem.name}}">
                                            <button id="btn-filter-{{elem.name}}" class="btn btn-primary text-center" style="margin-top:0; padding: 5px 15px 5px 15px;  text-transform: uppercase;"
                                                disabled="">
                                                <img src="static/img/ico/white/bass-guitar.png" width="16px" height="16px" style="margin-right:5px; " /> {{ elem.name }}

                                            </button>
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div id="slider-{{elem.name}}" class="slider slider-primary" style="margin-top:20px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="container">
                    <table class="table" id='results'>
                        <!-- <thead>
                            <tr>
                                <td>Song Title</td>
                                <td>Artist Name</td>
                                <td>Something Else</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>One</td>
                            <td>One</td>
                            <td>One</td>
                        </tr>
                        <tr>
                            <td>One</td>
                            <td>One</td>
                            <td>One</td>
                        </tr>
                        <tr>
                            <td>One</td>
                            <td>One</td>
                            <td>One</td>
                        </tr> -->
                    </table>
                </div>


            </div>

        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="http://presentation.creative-tim.com">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <script>
                    document.write(new Date().getFullYear())
                </script>, Designed by
                <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
{% endblock %} {% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        // the body of this function is in assets/js/now-ui-kit.js
        $.ajax({
            type: 'GET',
            url: '/filters',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, item) {
                    var sliderId = document.getElementById("slider-" + item.name);
                    var checkboxId = document.getElementById("checkbox-" + item.name);
                    noUiSlider.create(sliderId, {
                        start: item.min,
                        connect: [true, false],
                        range: {
                            min: item.min,
                            max: item.max
                        }
                    });
                    if (!$(checkboxId).is(':checked')) {
                        sliderId.setAttribute('disabled', true);
                    }
                    sliderId.noUiSlider.on('change', function (values, handle, unencoded, tap, positions) {
                        var jsonData=[];
                        data.forEach(element => {
                            var sliderItem=document.getElementById("slider-" + element.name);
                            if(!sliderItem.hasAttribute('disabled')){
                                console.log("Name: ", element.name, "Min: ", element.min, "Max: ", element.max, "Current: ", sliderItem.noUiSlider.get());
                                jsonData.push({name: element.name,value: sliderItem.noUiSlider.get()});
                            }
                        });
                        // $.post('/filters/attributes',jsonData, function(data,status){
                        // console.log(data,status);
                        // });
                        console.log(jsonData);
                        $.ajax({
                            type:'POST',
                            url: '/filters/attributes',
                            dataType : "json",
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(jsonData),
                            success: function(data,status){
                                console.log("Data has Been Sent",data,status);
                                response=data;
                                titles=['My life','Be together','work work work','Dance Dance','Let be'];
                                createTable([{Song:titles[Math.floor(Math.random() * 5)],Loudness:Math.floor(Math.random() * 50),Speechiness:Math.floor(Math.random() * 50)},
                                {Song:titles[Math.floor(Math.random() * 5)],Loudness:Math.floor(Math.random() * 50),Speechiness:Math.floor(Math.random() * 50)},
                                {Song:titles[Math.floor(Math.random() * 5)],Loudness:Math.floor(Math.random() * 50),Speechiness:Math.floor(Math.random() * 50)}]);
                            }
                        });
                    });
                    $(checkboxId).change(function (event) {
                        if ($(this).prop('checked')) {
                            $(event.target).next().children().attr("disabled", false);
                            sliderId.removeAttribute('disabled');

                        } else {
                            $(event.target).next().children().attr("disabled", true);
                            sliderId.setAttribute('disabled', true);
                        }
                    });
                    // $.each(item,function(key,value){
                    //     console.log(key,value);


                    // });

                });

            }

        });
        function createTable(data){
            if(!$('#results').empty()){
                $('#results tr').remove();
                console.log('data is removed');
            }
            tHeader=$('<thead></thead>');
                tHeaderRow=$('<tr></tr>');
                if(data[0]!=null){
                    Object.keys(data[0]).forEach(function(key){
                        tHeaderRow.append($('<td></td>').text(key));
                        // console.log(key);
                    });
                    tHeader.append(tHeaderRow);
                    $('#results').append(tHeader);         
                }
                data.forEach(function(item){
                    tRow=$('<tr></tr>');
                    Object.keys(item).forEach(function(key) {  
                        // alert(item[key]); // alerts value
                        tRow.append($('<td></td>').text(item[key]));
                        console.log(item[key]);
                    });
                    $('#results').append(tRow);
                });
        }
       
    });
</script> {% endblock %}