{% extends 'base.html' %}
{%block content %}
<body class="index-page sidebar-collapse">

    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('./static/img/colorful-header.jpg');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="{{url_for('static', filename='img/now-logo.jpg')}}" alt="">
                    <h1 class="h1-seo">Top Hits</h1>
                    <h3>A Collection of Hit Songs from 2009s, 2000s, 1990s, 1980s, 1970s, 1960s, and
                            1950s.</h3>
                </div>
                
            </div>
        </div>
    </div>
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">A Collection of top 100 Hits of all times</h2>
                        <h5 class="description">
                            A System to Display and querying the top
                            100 hit Music songs data from 2009s, 2000s, 1990s, 1980s, 1970s, 1960s, and
                            1950s. All hit singers and all hits songs at one place to query. Our system 
                            has more than 600 hundered songs top hit songs and the list is growing fast.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup" style="background-image: url('static/img/diego.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container">
                <!--implement your own ideas here  -->
                <div class="container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                          <div class="alert alert-{{ category }}" role="alert">
                                <div class="container">
                                    <div class="alert-icon">
                                        <i class="now-ui-icons travel_info"></i>
                                    </div>
                                     {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
                        <div class="row">
                            <div class="card card-signup" data-background-color="orange">
                                <form class="form" method="post" action="">
                                    <div class="header text-center">
                                        <h4 class="title title-up">Sign Up</h4>
                                        <div class="social-line">
                                            
                                            <a href="#pablo" class="btn btn-neutral btn-login btn-icon btn-lg btn-round">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons users_circle-08"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Your Name..." name="username" value="{{request.form.username }}" required="true">
                                        </div>
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="password" name="password" value="{{request.form.password }}" required="true" placeholder="Password..." class="form-control" />
                                        </div>
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons ui-1_email-85"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Email...">
                                        </div>
                                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                                        <!-- <div class="checkbox">
                                          <input id="checkboxSignup" type="checkbox">
                                              <label for="checkboxSignup">
                                              Unchecked
                                              </label>
                                            </div> -->
                                    </div>
                                    <div class="footer text-center">
                                        <input  class="btn btn-neutral btn-round btn-lg" type="submit" value="Get Started">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col text-center">
                            <a href="/login" class="btn  btn-round btn-primary btn-lg" >View Login Page</a>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Sart Modal -->
        <footer class="footer" data-background-color="black">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="/catalog">
                                    Collections
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                    MIT License
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
                        <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </div>
                </div>
            </footer> 
</body>

{% endblock %}
<!--   Core JS Files   -->
{%block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
{% endblock %}

</html>