{% extends 'base.html' %}
{%block content %}
<body class="index-page sidebar-collapse">

    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('./static/img/colorful-header.jpg');">
            </div>
            <div class="container">
                <div class="content-center brand">
                    <img class="n-logo" src="{{url_for('static', filename='img/now-logo.jpg')}}" alt="">
                    <h1 class="h1-seo">Top Hits</h1>
                    <h3>A Collection of Hit Songs from 2009s, 2000s, 1990s, 1980s, 1970s, 1960s, and
                            1950s.</h3>
                </div>
                
            </div>
        </div>
    </div>
        <div class="section">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-8">
                        <h2 class="title">A Collection of top 100 Hits of all times</h2>
                        <h5 class="description">
                            A System to Display and querying the top
                            100 hit Music songs data from 2009s, 2000s, 1990s, 1980s, 1970s, 1960s, and
                            1950s. All hit singers and all hits songs at one place to query. Our system 
                            has more than 600 hundered songs top hit songs and the list is growing fast.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-signup" style="background-image: url('static/img/diego.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
            <div class="container">
                <!--implement your own ideas here  -->
                <div class="container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                          <div class="alert alert-{{ category }}" role="alert">
                                <div class="container">
                                    <div class="alert-icon">
                                        <i class="now-ui-icons travel_info"></i>
                                    </div>
                                     {{ message }}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}
                        <div class="row">
                            <div class="card card-signup" data-background-color="orange">
                                <form class="form" method="post" action="">
                                    <div class="header text-center">
                                        <h4 class="title title-up">Sign Up</h4>
                                        <div class="social-line">
                                            
                                            <a href="#pablo" class="btn btn-neutral btn-login btn-icon btn-lg btn-round">
                                                <i class="fa fa-user"></i>
                                            </a>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons users_circle-08"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Your Name..." name="username" value="{{request.form.username }}" required="true">
                                        </div>
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons text_caps-small"></i>
                                            </span>
                                            <input type="password" name="password" value="{{request.form.password }}" required="true" placeholder="Password..." class="form-control" />
                                        </div>
                                        <div class="input-group form-group-no-border">
                                            <span class="input-group-addon">
                                                <i class="now-ui-icons ui-1_email-85"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Email...">
                                        </div>
                                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                                        <!-- <div class="checkbox">
                                          <input id="checkboxSignup" type="checkbox">
                                              <label for="checkboxSignup">
                                              Unchecked
                                              </label>
                                            </div> -->
                                    </div>
                                    <div class="footer text-center">
                                        <input  class="btn btn-neutral btn-round btn-lg" type="submit" value="Get Started">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col text-center">
                            <a href="examples/login-page.html" class="btn  btn-round btn-primary btn-lg" target="_blank">View Login Page</a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="section section-examples" data-background-color="black">
                <div class="space-50"></div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <a href="#" target="_blank">
                                <img src="static/img/classic-group.jpg" alt="Image" class="filter-grey">
                            </a>
                            <h5 class="description">
                                A collection of songs with various attributes including 
                                energy, liveness, temp, speechiness, sound quality, 
                                instrumentalness, modes, time and duration of song loudness and 
                                danceability.
                            </h5>
                            <a href="#" class="btn btn-primary btn-round">Find Your Taste</a>
                        </div>
                        <div class="col">
                            <a href="#" target="_blank">
                                <img src="static/img/piano.jpg" alt="Image" class=" filter-grey">
                            </a>
                            <h5 class="description">
                                    Create your own collection put some 
                                    energy, liveness and speechiness blend with sound quality, 
                                    instrumentalness and loudness with a flovour of  
                                    danceability. So, Lets Get Started
                                </h5>
                            <a href="#" class="btn btn-primary btn-round">Create Your Collection</a>
                        </div>
                    </div>
                </div>
                
        </div>
        <div class="section section-examples" style="background: #424242;">
                <div class="space-50"></div>
                <div class="container" >
                        <div class="text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="card">
                                                <div class="card-block">
                                                    <img class="img-fluid" src="static/img/people.png">
                                                    <div class="card-title">
                                                        <h4>Title OF Card</h4>
                                                    </div>
                                                    <div class="card-text text-center">
                                                        <p >
                                                                some sample text for card.some sample text for card.
                                                                some sample text for card
                                                        </p>
                                                    </div>
                                                    <a style="margin: 10px 10px;" class="btn btn-round btn-primary">Click Here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                                <div class="card">
                                                    <div class="card-block">
                                                        <img class="img-fluid" src="static/img/people.png">
                                                        <div class="card-title">
                                                            <h4>Title OF Card</h4>
                                                        </div>
                                                        <div class="card-text text-center">
                                                                <p>
                                                                        some sample text for card.some sample text for card.
                                                                        some sample text for card.
                                                                </p>
                                                        </div>
                                                        <a style="margin: 10px 10px;" class="btn btn-round btn-primary">Click Here</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                    <div class="card">
                                                        <div class="card-block">
                                                            <img class="img-fluid" src="static/img/people.png">
                                                            <div class="card-title">
                                                                <h4>Title OF Card</h4>
                                                            </div>
                                                            <div class="card-text text-center">
                                                                    <p>
                                                                            some sample text for card.some sample text for card.
                                                                            some sample text for card.
                                                                    </p>
                                                            </div>
                                                            <a style="margin: 10px 10px;" class="btn btn-round btn-primary">Click Here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                        </div>
                    </div>

        </div>
        
        <div class="section section-download" id="#download-section" data-background-color="black">
                <div class="container">
                    
                    <div class="row justify-content-md-center">
                        <div class="text-center col-md-12 col-lg-8">
                            <h3 class="title">Can't find the One you are looking for?</h3>
                            <h5 class="description">If that's the case head over to our section to submit your favourite one. It will be our first
                                priority to make that song avaiable for you.
                            </h5>
                        </div>
                        <div class="text-center col-md-12 col-lg-8">
                            <a href="#" class="btn btn-primary btn-lg btn-round" role="button">
                                Submit Your Own
                            </a>
                            <!-- <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                                Download PSD/Sketch
                            </a> -->
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="row text-center mt-5">
                        <div class="col-md-8 ml-auto mr-auto">
                            <h2>Want more?</h2>
                            <h5 class="description">We are currently working on our embeded media player and 
                                our own collection of video songs so, stay with us, we will be supporting online media player, where you can play
                                your favourite songs. We are working on our mobile app as well.
                            </h5>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-neutral btn-round btn-lg" target="_blank">
                                <i class=""></i> Learn More
                            </a>
                        </div>
                    </div>
                    
                    <br>
                    <br>
                    <div class="row justify-content-md-center sharing-area text-center">
                        <div class="text-center col-md-12 col-lg-8">
                            <h3>Thank you for supporting us!</h3>
                        </div>
                        <div class="text-center col-md-12 col-lg-8">
                            <a target="_blank" href="#" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a target="_blank" href="#" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a target="_blank" href="#" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a target="_blank" href="#" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sart Modal -->
        <footer class="footer" data-background-color="black">
                <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.creative-tim.com">
                                    Collections
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.creative-tim.com">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                    MIT License
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, Designed by
                        <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </div>
                </div>
            </footer> 
</body>

{% endblock %}
<!--   Core JS Files   -->
{%block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
{% endblock %}

</html>